<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Transport1">

        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ViewDataActivity" />
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".CalculationActivity"/>
        <activity android:name=".AdminActivity"/>
		<activity android:name=".ReportsActivity" />
		<activity android:name=".PersonReportActivity"/>
<activity android:name=".FactoryReportActivity"/>
         <activity android:name=".AddPaymentActivity" />
    <activity android:name=".PaymentHistoryActivity" />
	<activity android:name=".EditDataActivity"/>
        <activity android:name=".AddEntryActivity"/>
    </application>

</manifest>